PRIO = {'LOW': 0, 'MODERATE': 1, 'HIGH': 2, 'EMERGENCY': 3}

customItemNames = {
    'allowTTSSwitch': 'Sonos_Allow_TTS_And_Sounds', # Switch item that must be ON to allow normal prio TTS and sounds to pass
}

sonos = {
    'rooms': {
        'Kitchen': {
            "name": 'Kitchen speaker',
            "audiosink": 'sonos:One:RINCON_999999999999999999',
            "defaultttsdevice": True,
            "volume": 40,
            "ttsvolume": 40,
            "ttslang": 'sv-SE',
            "ttsvoice": 'Astrid',
            "ttsengine": 'pollytts'
        },
        'Bedroom': {
            "name": 'Bedroom speaker',
            "audiosink": 'sonos:PLAY1:RINCON_999999999999999999',
            "defaultttsdevice": False,
            "volume": 40,
            "ttsvolume": 40,
            "ttslang": 'sv-SE',
            "ttsvoice": 'Astrid',
            "ttsengine": 'pollytts'
        },
    }
}
