"""
Set the default values used when performing an area action on any Item that
does not have these values set in its metadata.

* ``default_action_function``: the default function to use when an area becomes active or inactive
* ``mode_item``: the name of an Item to use for determining the mode or time of day
* ``disable_automation_brightness``: when the state of the action Item is above this brightness level, the area action is disabled
* ``lux_trigger``: when the lux level is greater/less than the lux_trigger, the
  lights should turn ON/OFF
* ``high_lux``: the brightness/color settings to use when the lux is higher than the lux_trigger
* ``low_lux``: the brightness/color settings to use when the lux is lower than the lux_trigger
* ``brightness``: the dimming level for setting DimmerItems (anything greater than
  zero will turn on a SwitchItem)
* ``hue`` and ``saturation``: for ColorItems
* ``lux_item_name``: the name of the Item to use for outside lux or solar radiation
  levels (if the Item state is QuantityType, the unit will be stripped)

An easy way to get solar radiation values is an Item linked to the
``astro:sun:local:radiation#diffuse`` Channel from the Astro binding. This
Channel provides a smoother curve than the ``radiation#direct`` and
``radiation#total`` Channels. The defaults set for color provide a warm white.
By setting ``lux_trigger`` to 0, the lights will always turn ON, which
works well for areas without windows, like closets.

--code-block

    Number:Intensity   Sun_Radiation_Diffuse  "Solar Radiation (diffuse) [%.0f W/m²]"    <sun>    {channel="astro:sun:local:radiation#diffuse"}
"""
AREA_TRIGGERS_AND_ACTIONS_CONFIGURATION = {
    "default_action_function": "light_action",
    "mode_item": "Mode",
    "disable_automation_brightness": 100,# set to 100 to disable this feature
    "light_action": {
        # "lux_item_name": "Sun_Radiation_Diffuse",
        # "lux_item_name": "gLuminance",
        "default_levels": {
            "active": {
                "lux_trigger": 0,# a lux_trigger of 0 will cause the light to not be adjusted based on the lux, like for use in a closet with no windows
                "high_lux": {"hue": 0, "saturation": 0, "brightness": 0},# when the area is active and the lux is greater than the lux_trigger, the lights will be set to this level
                "low_lux": {"hue": 30, "saturation": 100, "brightness": 98}# when the area is active and the lux is less than the lux_trigger, the lights will be set to this level
            },
            "inactive": {
                "lux_trigger": 0,# a lux_trigger of 0 will cause the light to not be adjusted based on the lux, like for use in a closet with no windows
                "high_lux": {"hue": 0, "saturation": 0, "brightness": 0},# when the area is inactive and the lux is greater than the lux_trigger, the lights will be set to this level
                "low_lux": {"hue": 0, "saturation": 0, "brightness": 0}# when the area is inactive and the lux is less than the lux_trigger, the lights will be set to this level
            }
        }
    }
}