# List of all the sensors, proxies, and timeouts to apply the generic presence
# rule to.
# sensor:  A single Switch Item or a Group:Switch that represents the presence
#          status of the sensors that detect a given person or general
#          presence.
#
# proxy:   The proxy Switch Item that represents the determined presence status
#          of that person or generally.
#
# timeout: The number of minutes to wait after a sensor changes to OFF before
#          changing the proxy Item to OFF. Changes to ON immediately apply.
#
# In the example below:
#
# gPresent is a Group:Switch:OR(ON,OFF) that includes all the sensors that
# indicate the home is occupied in general.
#
# gRichPresent is a Group:Switch:OR(ON,OFF) that includes all the sensors that
# indicate that person Rich is home.
#
# gJennPresent is a Group:Switch:OR(ON,OFF) that includes all the sensors that
# indicate that person Jenn is home.
#
# Note, a sensor can be a member of more than one Group.

                  # Sensor           proxy              Timeout
presence_config = { "gPresent":     ("vPresent",        2),
                    "gRichPresent": ("vRichPresent",    3),
                    "gJennPresent": ("vJennPresent",    2) }
