from core.metadata import set_metadata

'''
# which Items have an `area_triggers_and_actions` namespace?
from core.metadata import get_metadata
from core.log import logging, LOG_PREFIX

log = logging.getLogger("{}.area_triggers_and_actions.update_metadata".format(LOG_PREFIX))
for item in ir.getAll():
    metadata = get_metadata(item.name, "area_triggers_and_actions")
    if metadata:
        log.warn("{}: {}".format(item.name, metadata))
'''

'''
# remove all metadata with a specific namespace
from core.metadata import remove_metadata

for item in ir.getAll():
    remove_metadata(item.name, "Area_Triggers_and_Actions")
'''

'''
# This is the general metadata structure. Every option is listed but seldom are
# they all used. Custom actions can make use of custom metadata structures, as
# is done with the notification_action.

"Area_Triggers_and_Actions": {
    "modes": {
        "Morning": {"low_lux_trigger":5,  "hue":100, "saturation":100, "brightness":10},
        "Day":     {"low_lux_trigger":55, "hue":255, "saturation":100, "brightness":10},
        "Evening": {"low_lux_trigger":90, "hue":255, "saturation":100, "brightness":10},
        "Night":   {"low_lux_trigger":90, "hue":240, "saturation":100, "brightness":10},
        "Late":    {"low_lux_trigger":5,  "hue":0,   "saturation":100, "brightness":10},
        "Party":   {"low_lux_trigger":25, "hue":0,   "saturation":100, "brightness":10}
    },
    "actions": {
        "light_action": {
            "ON": {
                "delay": 0,
                "recurring": False
            },
            "OFF": {
                "delay": 60,
                "recurring": True
            }
        },
        "notification_action": {
            "limited": True,
            "ON": {
                "delay": 3600,
                "message": "The outside doors are unlocked",
                "types": {
                    "audio": True,
                    "kodi": True,
                    "mobile": True
                },
                "priority": 0,
                "recurring": True
            },
            "OFF": {
                "delay": 5,
                "recurring": False
            }
        }
    }
}
'''

'''
# Examples

set_metadata("gOutside_Door_Trigger", "area_triggers_and_actions", {"actions": {"notification_action": {"ON": {"delay": 3600, "types": {"audio": True, "mobile": True}, "Priority": 0, "recurring": True}}}}, overwrite=True)

set_metadata("US_GarageAttached_Dimmer", "area_triggers_and_actions", {"actions": {"light_action": {"OFF": {"delay": 180}}}}, overwrite=True)

set_metadata("DS_Office_Speaker_Player", "area_triggers_and_actions", {"actions": {"speaker_action": {"OFF": {"delay": 30}}}}, overwrite=True)

set_metadata("DS_FamilyRoom_TV_LED_Color", "area_triggers_and_actions", {"modes": {"Morning": {"low_lux_trigger":5, "brightness":10, "hue":100, "saturation":100}, "Day": {"low_lux_trigger":55, "brightness":10, "hue":255, "saturation":100}, "Evening": {"low_lux_trigger":90, "brightness":10, "hue":255, "saturation":100}, "Night": {"low_lux_trigger":90, "brightness":10, "hue":240, "saturation":100}, "Late": {"low_lux_trigger":5, "brightness":10, "hue":0, "saturation":100}, "Party": {"low_lux_trigger":5, "brightness":10, "hue":0, "saturation":100}}}, overwrite=True)

set_metadata("DS_Kitchen_Sink_Switch", "area_triggers_and_actions", {"modes": {"Morning": {"low_lux_trigger":5, "brightness":98}, "Day": {"low_lux_trigger":50, "brightness":98}, "Evening": {"low_lux_trigger":90, "brightness":98}, "Night": {"low_lux_trigger":90, "brightness":98}, "Late": {"low_lux_trigger":90, "brightness":0}}}, overwrite=True)
set_metadata("DS_Kitchen_Spots_Dimmer", "area_triggers_and_actions", {"modes": {"Morning": {"low_lux_trigger":5, "brightness":98}, "Day": {"low_lux_trigger":50, "brightness":98}, "Evening": {"low_lux_trigger":90, "brightness":98}, "Night": {"low_lux_trigger":90, "brightness":98}, "Late": {"low_lux_trigger":90, "brightness":0}}}, overwrite=True)
set_metadata("DS_Kitchen_Stove_Bulb", "area_triggers_and_actions", {"modes": {"Morning": {"low_lux_trigger":99999, "brightness":98}, "Day": {"low_lux_trigger":99999, "brightness":98}, "Evening": {"low_lux_trigger":99999, "brightness":98}, "Night": {"low_lux_trigger":99999, "brightness":55}, "Late": {"low_lux_trigger":99999, "brightness":10}}}, overwrite=True)

set_metadata("Outlet5", "area_triggers_and_actions", {"modes": {"Morning": {"low_lux_trigger":5, "brightness":0}, "Day": {"low_lux_trigger":50, "brightness":0}, "Evening": {"low_lux_trigger":90, "brightness":0}, "Night": {"low_lux_trigger":90, "brightness":1}, "Late": {"low_lux_trigger":90, "brightness":1}, "Party": {"low_lux_trigger":90, "brightness":0}}}, overwrite=True)

set_metadata("gOutsideLight", "area_triggers_and_actions", {"modes": {"Morning": {"low_lux_trigger":5, "brightness":98}, "Day": {"low_lux_trigger":5, "brightness":98}, "Evening": {"low_lux_trigger":5, "brightness":98}, "Night": {"low_lux_trigger":5, "brightness":98}, "Late": {"low_lux_trigger":5, "brightness":98}, "Party": {"low_lux_trigger":90, "brightness":98}}}, overwrite=True)
'''
