from core.metadata import set_metadata

'''
# Which Items have an `area_triggers_and_actions` namespace?
from core.metadata import get_metadata
from core.log import logging, LOG_PREFIX

LOG = logging.getLogger("{}.area_triggers_and_actions.update_metadata".format(LOG_PREFIX))
for item in ir.getAll():
    metadata = get_metadata(item.name, "area_triggers_and_actions")
    if metadata:
        LOG.warn(u"{}: {}".format(item.name, metadata))
'''

'''
# remove all metadata with a specific namespace
from core.metadata import remove_metadata

for item in ir.getAll():
    remove_metadata(item.name, "Area_Triggers_and_Actions")
'''

'''
# This is the general Item metadata structure that could be used for a specific
# Item. Every option is listed but they are seldom all used. Custom actions can
# make use of custom metadata structures, as is done in the notification_action
# example.
"Area_Triggers_and_Actions": {
    "modes": {
        "Morning": {"low_lux_trigger":5,  "hue":100, "saturation":100, "brightness":10},
        "Day":     {"low_lux_trigger":55, "hue":255, "saturation":100, "brightness":10},
        "Evening": {"low_lux_trigger":90, "hue":255, "saturation":100, "brightness":10},
        "Night":   {"low_lux_trigger":90, "hue":240, "saturation":100, "brightness":10},
        "Late":    {"low_lux_trigger":5,  "hue":0,   "saturation":100, "brightness":10},
        "Party":   {"low_lux_trigger":25, "hue":0,   "saturation":100, "brightness":10}
    },
    "actions": {
        "light_action": {
            "lux_item_name": "DS_FamilyRoom_Lux",
            "ON": {
                "delay": 0,
            },
            "OFF": {
                "delay": 60,
                "recurring": False
            }
        },
        "notification_action": {
            "limited": True,
            "ON": {
                "delay": 3600,
                "message": "The outside doors are unlocked",
                "types": {
                    "audio": True,
                    "kodi": True,
                    "mobile": True
                },
                "priority": 0,
                "recurring": True
            },
            "OFF": {
                "delay": 5,
            }
        }
    }
}
'''

'''
# Examples

# set_metadata("gOutside_Door_Trigger", "area_triggers_and_actions", {
#     "notification_action": {
#         "limited": True,
#         "active": {
#             "delay": 3600,
#             "types": {
#                 "audio": True,
#                 "mobile": True
#             },
#             "Priority": 0,
#             "recurring": True
#         }
#     }
# }, overwrite=True)

# set_metadata("US_GarageAttached_Dimmer", "area_triggers_and_actions", {
#     "light_action": {
#         "inactive": {
#             "delay": 180
#         }
#     }
# }, overwrite=True)

# set_metadata("US_MasterBathroom_Speaker_Player", "area_triggers_and_actions", {
#     "speaker_action": {
#         "inactive": {
#             "delay": 30
#         }
#     }
# }, overwrite=True)

# set_metadata("gDS_Office_Bulb", "area_triggers_and_actions", {
#     "light_action": {
#         "lux_item_name": "ESP12E_01_Luminance",
#         "active": {
#             "modes": {
#                 "Morning": {"lux_trigger": 0, "low_lux": {"brightness":1}},
#                 "Day": {"lux_trigger": 0, "low_lux": {"brightness":98}},
#                 "Evening": {"lux_trigger": 0, "low_lux": {"brightness":98}},
#                 "Night": {"lux_trigger": 0, "low_lux": {"brightness":25}},
#                 "Late": {"lux_trigger": 0, "low_lux": {"brightness":1}},
#                 "Party": {"lux_trigger": 0, "low_lux": {"brightness":98}}
#             }
#         }
#     }
# }, overwrite=True)

# set_metadata("gOutsideLight", "area_triggers_and_actions", {
#     "light_action": {
#         "lux_item_name": "ESP12E_01_Luminance",
#         "active": {
#             "modes": {
#                 "Morning": {"lux_trigger": 25, "low_lux": {"brightness":98}},
#                 "Day": {"lux_trigger": 25, "low_lux": {"brightness":98}},
#                 "Evening": {"lux_trigger": 25, "low_lux": {"brightness":98}},
#                 "Night": {"lux_trigger": 25, "low_lux": {"brightness":98}},
#                 "Late": {"lux_trigger": 25, "low_lux": {"brightness":98}},
#                 "Party": {"lux_trigger": 25, "low_lux": {"brightness":98}}
#             }
#         }
#     }
# }, overwrite=True)

# set_metadata("US_DiningRoom_Dimmer", "area_triggers_and_actions", {
#     "light_action": {
#         "lux_item_name": "ESP12E_02_Luminance",
#         "active": {
#             "modes": {
#                 "Morning": {"lux_trigger": 55, "low_lux": {"brightness":30}},
#                 "Day": {"lux_trigger": 200, "low_lux": {"brightness":30}},
#                 "Evening": {"lux_trigger": 200, "low_lux": {"brightness":30}},
#                 "Night": {"lux_trigger": 200, "low_lux": {"brightness":30}},
#                 "Late": {"lux_trigger": 55, "low_lux": {"brightness":1}},
#                 "Party": {"lux_trigger": 0, "low_lux": {"brightness":30}}
#             }
#         }
#     }
# }, overwrite=True)

# set_metadata("DS_FamilyRoom_TV_LED_Color", "area_triggers_and_actions", {
#     "light_action": {
#         "lux_item_name": "ESP12E_01_Luminance",
#         "active": {
#             "modes": {
#                 "Morning": {"lux_trigger": 55, "low_lux": {"brightness": 10, "hue": 100, "saturation":100}},
#                 "Day": {"lux_trigger": 250, "low_lux": {"brightness": 0, "hue": 0, "saturation":0}},
#                 "Evening": {"lux_trigger": 250, "low_lux": {"brightness": 10, "hue": 255, "saturation":100}},
#                 "Night": {"lux_trigger": 250, "low_lux": {"brightness": 10, "hue": 240, "saturation":100}},
#                 "Late": {"lux_trigger": 55, "low_lux": {"brightness": 10, "hue": 0, "saturation":100}},
#                 "Party": {"lux_trigger": 0, "low_lux": {"brightness": 10, "hue": 0, "saturation":100}}
#             }
#         }
#     }
# }, overwrite=True)
