# NOTE: The publisher and subscriber can be set up and used onle or both on the
# same OH instance. If, for example, only using the publsiher than only use the
# the varialbes and set up steps defined in the Publisher paramters section.

#-----------------------------
### Publisher parameters

#----
# Requirements:
#   - MQTT 2.5 M1 or later Binding installed.
#   - MQTT Broker installed and working
#
# Configuration and use:
#   - Create a Group and add all the Items that are to be published to the
#     eventbus to this Group. Change eb_out_gr below with the name of that
#     Group.
#
#   - Create a Broker Thing to publish commands. Configure the retained flag to
#     off on this connection. Commands are ephemeral and should not be retained.
#     Copy this Thing ID to eb_cmd_br below.
#
#   - Create a Broker Thing to publish updates. Configure the retained flag to
#     on on this connection. Updates represent Item states and should therefore
#     be retained. Copy this Thing ID to eb_up_br below.
#
#   - Set the eb_name variable below with a unique name.

# Name of the Group whose member's update and command events are published to
# the eventbus.
eb_out_gr = "PubItems"

# Name of this instance of OH, used as the root of the MQTT topics.
eb_name   = "cabin"

# The Thing ID of the Broker Thing to use for publishing commands; I recommend
# setting the retained flag to off for this connection.
eb_cmd_br = "mqtt:broker:mosquitto"

# The Thing ID of the Broker Thing to use for publishing updates; I recommend
# setting the retained flag to on for this connection.
#
# As of now the retained flag appears not to work. An issue has been filed:
# https://github.com/openhab/openhab2-addons/issues/6100
eb_up_br = "mqtt:broker:mosquitto-retained"

#-----------------------------
### Subscriber parameters

#----
# Requirements:
#   - MQTT 2.5 M1 or later Binding installed.
#   - MQTT Broker installed and working
#
# Configuration and use:
#   - Create a Broker Connection Thing with the proper connection paramters for
#     your broker.
#
#   - Create a Channel on that Broker Thing as follows:
#       - MQTT Topic: [device name]/out/# where [device name] is as defined by
#         eb_name on the remote openHAB instance.
#       - Separator character: #
#     Copy the Channel ID to ev_in_chan below.

# The Channel ID for the Channel defined on the Broker Thing that subscribes to
# all of the topics for a given eventbus.
eb_in_chan = "mqtt:broker:mosquitto:eventbus"
