"""
This script speaks a random greeting every minute on your Sonos speaker system.
To use this, you should set up astro.py as described in
:ref:`Examples/Design Patterns/Mode (Time of Day):Mode (Time of Day)`. It also
assumes that you've set up an openHAB ContactItems to represent the presence of
people to be greeted. Each of the Items should belong to the group
``G_Presence_Family``. Finally, make sure that you add the contents of the
``configuration.py.example`` file into your own ``configuration.py`` file.
"""
import random

from core.rules import rule
from core.triggers import when
from community.sonos.speak import tts, greeting, PRIO
from core.utils import getItemValue

@rule("Greeting example")
@when("Time cron 0 * * * * ?")
def exampleGreeting(event):
    greetings = [greeting(), 'Hello', 'How are you', 'How are you doing', 'Good to see you', 'Long time no see', 'Its been a while']
    peopleAtHome = []
    for member in itemRegistry.getItem('G_Presence_Family').getAllMembers():
        if member.state == OPEN: peopleAtHome.append(member.label)
    random.shuffle(peopleAtHome)
    msg = random.choice(greetings)
    for i in range(len(peopleAtHome)):
        person = peopleAtHome[i]
        msg += ' '+person
        if i+2 == len(peopleAtHome):
            msg +=' and'
        elif i+1 == len(peopleAtHome):
            msg +='.'
        elif i+2 < len(peopleAtHome):
            msg +=','
    #tts(msg, PRIO['HIGH'], ttsRoom='Kitchen', ttsVol=42, ttsLang='en-GB', ttsVoice='Brian')
    tts(msg, PRIO['HIGH'], ttsRoom='Kitchen', ttsVol=42, ttsLang='en-IN', ttsVoice='Aditi')
    #tts(msg, PRIO['HIGH'], ttsRoom='Kitchen', ttsVol=42, ttsLang='en-US', ttsVoice='Matthew')
    #tts(msg, None, ttsRoom='All', ttsLang='de-DE', ttsVoice='Vicki')
    #tts(msg) # Also works if you accept the defaults
